.cfg{
    background-color: $silver;
    background-image: url(../img/cfg_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
    height: 1080px;
    position: relative;
}
.cfg__inner{
    padding-top: 87px;
    text-align: center;
}
.cdg__heading{
    color: $gray;
    margin-bottom: 120px;
}
.cfg__tagline-wraper{
    text-align: left;
}
.cfg__tagline{
    font-size: 150px;
    font-weight: bold;
    color: $gray;
    line-height: 115px;
    display: inline-block;
    position: relative;
    &::after{
        content: "pro";
        position: absolute;
        top: 100px;
        right: 0;
        text-transform: uppercase;
        padding: 20px;
        background-color: $gray;
        color: $blue;
        border-radius: 30px;
        font-weight: 900;
        font-size: 130px;
        line-height: 95px;
    }
}
.cfg__bubble-big{
    z-index: 10;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 500px;
    right: 500px;
    animation-name: animateBubbleBig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    img{
        margin-top: 40px;
    }
}
.cfg__bubble-midle{
    z-index: 10;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 600px;
    right: 760px;
    animation-name: animateBubbleMidle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    img:hover{
        color: $blue;
    }
    img{
        margin-top: 35px;
    }
}
.cfg__bubble-small{
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 750px;
    right: 660px;
    animation-name: animateBubbleSmall;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    a:hover{
        color: $blue;
    }
    img{
        margin-top: 20px;
    }
}

@keyframes animateBubbleBig{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animateBubbleMidle{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animateBubbleSmall{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}