.configs{
    height: 1400px;
    background-color: $silver;
    background-image: url(../img/configs_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
}
.configs__inner{
    text-align: center;
    
}
.configs__heading{
    color: $gray;
    margin-bottom: 120px;
}
.configs__content{
    display: flex;
    justify-content: space-between;
}
.configs__tagline{
    font-size: 150px;
    font-weight: bold;
    color: $gray;
    line-height: 115px;
    display: inline-block;
    position: relative;
    &::after{
        content: "pro";
        position: absolute;
        top: 100px;
        right: 0;
        text-transform: uppercase;
        padding: 20px;
        background-color: $gray;
        color: $blue;
        border-radius: 30px;
        font-weight: 900;
        font-size: 130px;
        line-height: 95px;
    }
}
.configs__bubbles{
    max-width: 480px;
    max-height: 420px;
    position: relative;
}
.configs__bubble-big{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 200px;
    right: 150px;
    animation-name: animateBubbleBig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    img{
        margin-top: 40px;
    }
}
.configs__bubble-midle{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 300px;
    right: 410px;
    animation-name: animateBubbleBig;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    img{
        margin-top: 35px;
    }
}
.configs__bubble-small{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3e3e3e;
    top: 450px;
    right: 310px;
    animation-name: animateBubbleBig;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    img{
        margin-top: 20px;
    }
}

@keyframes animateBubbleBig{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animateBubbleMidle{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes animateBubbleSmall{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(10px);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0px);
    }
}