
.header{
    z-index: 1001;
    background-image: url(../img/tagline_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header__inner{
    background-color: $gray;
    &-menu{
        display: flex;
        justify-content: space-between;
        height: 150px;
        align-items: center;
    }
}
.menu__list{
    display: flex;
    li + li{
        margin-left: 96px;
    }
    a{
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 3px;
        transition-duration: 1s;
        &:hover{
            color: $blue;
        }
    }
    &--active{
        border-bottom: 4px solid $blue;
    }
}