@media (max-width: 1366px){
    //header
    .header__top{
        background-color: $gray;
        z-index: 15;
        &-menu{
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
        }
    }
    .logo{
        img{
            width: 70%;
            height: 70%;
        }
    }
    .menu__list{
        li + li{
            margin: 0px 0px 0px 90px;
        }
        a{
            font-size: 20px;
        }
    }
    .header-main__box{
        font-size: 100px;
        line-height: 70px;
        &-item-1{
            margin-top: 70px;
        }
    }
    .header-main__box--fix{
        padding-top: 100px;
    }
    .heading{
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 120px;
        line-height: 80px;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-bottom: 10px solid $blue;
        display: inline-block;
    }
    //news
    .news__inner{
        padding-top: 120px;
    }
    .news__list{
        font-size: 40px;
        line-height: 40px;
    }
    .news__block-left{
        margin-left: 80px;
    }
    .news__block-right{
        img{
            width: 384px;
            height: 353px;
            margin-right: 80px;
        }
    }
}
@media (max-width:1024px){
    //skins
    .skins__slider{
        padding: 150px 130px 0px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        img{
            margin: 0 auto;
            width: 70%;
            height: 70%;
        }
        & .slick-arrow{
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 53px;
            height: 96px;
            border: none;
            color: transparent;
            cursor: pointer;
            &.slick-prev{
                left: 0;
                background: url(../img/arrow_prev.png) 0 0 / 100% no-repeat;
                
            }
            &.slick-next{
                right: 0;
                background: url(../img/arrow_next.png) 0 0 / 100% no-repeat;
            }
        }
    }
    //more
    .more__items{
        display: flex;
        justify-content: space-around;
    }
    .more__item{
        width: 200px;
        height: 200px;
        img{
            width: 80%;
            height: 80%;
        }
        &--blue{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: 215px;
                left: 25px;
            }
        }
        &--yellow{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: -85px;
                left: 25px;
            }
        }
        &--white{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: 215px;
                left: 25px;
            }
        }
        &--pink{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 160px;
                top: -85px;
                left: 20px;
            }
        }
    }
    .more__item-link-1{
        top: 55px;
        left: 60px;
    }
    .more__item-link-2{
        top: 55px;
        left: 43px;
    }
    .more__item-link-3{
        top: 55px;
        left: 53px;
    }
    .more__item-link-4{
        top: 55px;
        left: 50px;
    }
}
@media (max-height:600px){
    .header-main__box{
        font-size: 80px;
        line-height: 50px;
        &-item-1{
            margin-top: 50px;
        }
    }
    .header-main__items{
        margin-bottom: 25px;
    }
}
@media (max-width:800px){
    .header__top{
        display: none;
        &-mobile{
            display: flex;
        }
    }
    .header-main__box--fix{
        padding-top: 70px;
    }
    //news
    .news__blocks{
        display: block;
        text-align: center;
    }
    .news__block-left{
        margin-left: 0;
    }
    .news__block-right{
        display: none;
    }
    //advantages
    .advantages{
        display: none;
    }
    //cfg
    .configs{
        height: 1000px;
        background-image: none;
    }
    .configs__tagline{
        font-size: 70px;
        font-weight: bold;
        color: $gray;
        line-height: 35px;
        display: inline-block;
        position: relative;
        &::after{
            content: "pro";
            position: absolute;
            top: 40px;
            right: 0;
            text-transform: uppercase;
            padding: 5px 15px;
            background-color: $gray;
            color: $blue;
            border-radius: 15px;
            font-weight: 900;
            font-size: 50px;
            line-height: 50px;
        }
    }
    //more
    .more__inner{
        padding-top: 130px;
        text-align: center;
    }
    .more__items{
        margin-top: 80px;
    }
    .more__item{
        width: 150px;
        height: 150px;
        img{
            width: 70%;
            height: 70%;
        }
        &--blue{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--yellow{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--white{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--pink{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 160px;
                top: 155px;
                left: -15px;
            }
        }
    }
    .more__item-link-1{
        top: 37px;
        left: 32px;
    }
    .more__item-link-2{
        top: 37px;
        left: 18px;
    }
    .more__item-link-3{
        top: 33px;
        left: 27px;
    }
    .more__item-link-4{
        top: 35px;
        left: 25px;
    }
    //footer
    .footer__questions{
        font-size: 16px;
        line-height: 16px;   
    }
    .footer__copywrite{
        font-size: 16px;
        line-height: 16px;
    }
}