@media (max-width: 1366px){
    //header
    .header__top{
        background-color: $gray;
        z-index: 15;
        &-menu{
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
        }
    }
    .logo{
        img{
            width: 70%;
            height: 70%;
        }
    }
    .menu__list{
        li + li{
            margin: 0px 0px 0px 90px;
        }
        a{
            font-size: 20px;
        }
    }
    .header-main__box{
        font-size: 100px;
        line-height: 70px;
        &-item-1{
            margin-top: 70px;
        }
    }
    .header-main__box--fix{
        padding-top: 100px;
    }
    .heading{
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 120px;
        line-height: 80px;
        letter-spacing: .1em;
        text-transform: uppercase;
        border-bottom: 10px solid $blue;
        display: inline-block;
    }
    //news
    .news__inner{
        padding-top: 120px;
    }
    .news__list{
        font-size: 40px;
        line-height: 40px;
    }
    .news__block-left{
        margin-left: 80px;
    }
    .news__block-right{
        img{
            width: 384px;
            height: 353px;
            margin-right: 80px;
        }
    }
}
@media (max-width:1024px){
    //skins
    .skins__slider{
        padding: 150px 130px 0px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        img{
            margin: 0 auto;
            width: 70%;
            height: 70%;
        }
        & .slick-arrow{
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 53px;
            height: 96px;
            border: none;
            color: transparent;
            cursor: pointer;
            &.slick-prev{
                left: 0;
                background: url(../img/arrow_prev.png) 0 0 / 100% no-repeat;
                
            }
            &.slick-next{
                right: 0;
                background: url(../img/arrow_next.png) 0 0 / 100% no-repeat;
            }
        }
    }
    //more
    .more__items{
        display: flex;
        justify-content: space-around;
    }
    .more__item{
        width: 200px;
        height: 200px;
        img{
            width: 80%;
            height: 80%;
        }
        &--blue{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: 215px;
                left: 25px;
            }
        }
        &--yellow{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: -85px;
                left: 25px;
            }
        }
        &--white{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 140px;
                top: 215px;
                left: 25px;
            }
        }
        &--pink{
            &::before{
                width: 200px;
                height: 200px;
            }
            &::after{
                font-size: 24px;
                line-height: 30px;
                width: 160px;
                top: -85px;
                left: 20px;
            }
        }
    }
    .more__item-link-1{
        top: 55px;
        left: 60px;
    }
    .more__item-link-2{
        top: 55px;
        left: 43px;
    }
    .more__item-link-3{
        top: 55px;
        left: 53px;
    }
    .more__item-link-4{
        top: 55px;
        left: 50px;
    }
}
@media (max-height:600px){
    .header-main__box{
        font-size: 80px;
        line-height: 50px;
        &-item-1{
            margin-top: 50px;
        }
    }
    .header-main__items{
        margin-bottom: 20px;
    }
    .header__scroll{
        img{
            width: 75%;
            height: 75%;
        }
    }
}
@media (max-height:400px){
    .header-main__box{
        font-size: 40px;
        line-height: 25px;
        &-item-1{
            margin-top: 30px;
        }
    }
    .header-main__items{
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
    }
    .header-main__wrapper-2{
        text-align: center;
    }
    .header-main__wrapper-3{
        text-align: center;
    }
    .header__scroll{
        img{
            width: 75%;
            height: 75%;
        }
    }
}
@media (max-width:800px){
    .header__top{
        display: none;
        &-mobile{
            display: flex;
        }
    }
    .header-main__box--fix{
        padding-top: 70px;
    }
    //news
    .news__blocks{
        display: block;
        text-align: center;
    }
    .news__block-left{
        margin-left: 0;
    }
    .news__block-right{
        display: none;
    }
    //advantages
    .advantages{
        display: none;
    }
    //cfg
    .configs{
        height: 1000px;
        background-image: none;
    }
    .configs__tagline{
        font-size: 70px;
        font-weight: bold;
        color: $gray;
        line-height: 35px;
        display: inline-block;
        position: relative;
        &::after{
            content: "pro";
            position: absolute;
            top: 40px;
            right: 0;
            text-transform: uppercase;
            padding: 5px 15px;
            background-color: $gray;
            color: $blue;
            border-radius: 15px;
            font-weight: 900;
            font-size: 50px;
            line-height: 50px;
        }
    }
    //more
    .more__inner{
        padding-top: 130px;
        text-align: center;
    }
    .more__items{
        margin-top: 80px;
    }
    .more__item{
        width: 150px;
        height: 150px;
        img{
            width: 70%;
            height: 70%;
        }
        &--blue{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--yellow{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--white{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 120px;
                top: 155px;
                left: 5px;
            }
        }
        &--pink{
            margin-top: 0;
            &::before{
                width: 150px;
                height: 150px;
            }
            &::after{
                font-size: 20px;
                line-height: 26px;
                width: 160px;
                top: 155px;
                left: -15px;
            }
        }
    }
    .more__item-link-1{
        top: 37px;
        left: 32px;
    }
    .more__item-link-2{
        top: 37px;
        left: 18px;
    }
    .more__item-link-3{
        top: 33px;
        left: 27px;
    }
    .more__item-link-4{
        top: 35px;
        left: 25px;
    }
    //footer
    .footer__questions{
        font-size: 16px;
        line-height: 16px;   
    }
    .footer__copywrite{
        font-size: 16px;
        line-height: 16px;
    }
}
@media(max-width:770px){
    //skins
    .skins__slider{
        & .slick-arrow{
            &.slick-prev{
                background: url(../img/arrow_prev.png) 0 0 / 50% no-repeat;
                
            }
            &.slick-next{
                background: url(../img/arrow_next.png) 0 0 / 50% no-repeat;
            }
        }
    }
    .gun__name{
        font-size: 20px;
        padding-bottom: 5px;
        margin-left: 70px;
    }
    .gun__skin{
        font-size: 20px;
        padding-bottom: 40px;
        margin-left: 70px;
    }
}
@media(max-width:600px){
    //skins
    .gun__name{
        margin-left: 30px;
    }
    .gun__skin{
        margin-left: 30px;
    }
    //cfg
    .configs__bubble-big{
        right: 70px;
    }
    .configs__bubble-midle{
        right: 330px;
    }
    .configs__bubble-small{
        right: 230px;
    }
    //more
    .more{
        background-color: $gray;
        max-height: 100%;
    }
    .more__items{
        flex-direction: column;
        align-items: center;
        padding-bottom: 200px;
    }
    .more__item{
        width: 250px;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
        }
        &--blue{
            &::before{
                width: 250px;
                height: 250px;
            }
            &::after{
                font-size: 30px;
                line-height: 36px;
                width: 180px;
                top: 277px;
                left: 25px;
            }
        }
        &--yellow{
            margin-top: 150px;
            &::before{
                width: 250px;
                height: 250px;
            }
            &::after{
                font-size: 30px;
                line-height: 36px;
                width: 180px;
                top: 277px;
                left: 25px;
            }
        }
        &--white{
            margin-top: 150px;
            &::before{
                width: 250px;
                height: 250px;
            }
            &::after{
                font-size: 30px;
                line-height: 36px;
                width: 180px;
                top: 277px;
                left: 25px;
            }
        }
        &--pink{
            margin-top: 150px;
            &::before{
                width: 250px;
                height: 250px;
            }
            &::after{
                font-size: 30px;
                line-height: 36px;
                width: 200px;
                top: 277px;
                left: 25px;
            }
        }
    }
    .more__item-link-1{
        top: 70px;
        left: 80px;
    }
    .more__item-link-2{
        top: 70px;
        left: 68px;
    }
    .more__item-link-3{
        top: 65px;
        left: 78px;
    }
    .more__item-link-4{
        top: 70px;
        left: 70px;
    }
    //footer
    .footer__questions{
        font-size: 14px;
        line-height: 14px;   
    }
    .footer__copywrite{
        font-size: 14px;
        line-height: 14px;
    }
}
@media(max-width:500px){
    //header
    .header-main__box{
        font-size: 70px;
        line-height: 50px;
    }
    .header-main__items{
        margin-bottom: 50px;
        border-radius: 30px;
        padding: 20px 20px 20px 30px;
    }
    .header-main__wrapper-2{
        text-align: center;
    }
    .header-main__wrapper-3{
        text-align: center;
    }
    //skins
    .skins__inner{
        padding-bottom: 125px;
    }
    .skins__slider{
        padding: 150px 30px 0px;
        max-width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
        & .slick-arrow{
            display: none;
        }
    }
    .gun__name{
        font-size: 14px;
        margin-left: 10px;
        line-height: 14px;
    }
    .gun__skin{
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 10px;
        margin-left: 10px;
        span{
            color: $gray;
        }
    }
    //cfg
    .configs__bubble-big{
        width: 175px;
        height: 175px;
        top: 200px;
        right: 50px;
        img{
            margin-top: 40px;
            width: 80%;
        }
    }
    .configs__bubble-midle{
        width: 125px;
        height: 125px;
        top: 300px;
        right: 270px;
        img{
            margin-top: 30px;
            width: 80%;
        }
    }
    .configs__bubble-small{
        width: 75px;
        height: 75px;
        top: 450px;
        right: 200px;
        img{
            margin-top: 15px;
            width: 80%;
        }
    }
    //footer
    .footer__questions{
        font-size: 14px;
        line-height: 14px;   
    }
    .footer__copywrite{
        font-size: 10px;
        line-height: 10px;
    }
}
@media(max-width:420px){
    .heading{
        padding-bottom: 15px;
        font-size: 100px;
        line-height: 60px;
    }
    //cfg
    .configs__bubble-big{
        top: 200px;
        right: 10px;
    }
    .configs__bubble-midle{
        top: 300px;
        right: 240px;
    }
    .configs__bubble-small{
        top: 450px;
        right: 160px;
    }
}
@media(max-width:380px){
    //header
    .header-main__box{
        font-size: 65px;
        line-height: 45px;
    }
    .header-main__items{
        margin-bottom: 50px;
        border-radius: 30px;
        padding: 18px 18px 18px 28px;
    }
    .menu-nav__link{
        margin-right: 10px;
        font-size: 14px;
    }
    //cfg
    .configs__bubble-big{
        width: 150px;
        height: 150px;
        top: 200px;
        right: 10px;
        img{
            margin-top: 35px;
            width: 70%;
        }
    }
    .configs__bubble-midle{
        width: 100px;
        height: 100px;
        top: 300px;
        right: 220px;
        img{
            margin-top: 25px;
            width: 70%;
        }
    }
    .configs__bubble-small{
        width: 60px;
        height: 60px;
        top: 450px;
        right: 160px;
        img{
            margin-top: 10px;
            width: 70%;
        }
    }
}
@media(max-width:360px){
    //header
    .heading{
        font-size: 90px;
        line-height: 50px;
    }
    .header-main__box{
        font-size: 60px;
        line-height: 40px;
    }
    .header-main__items{
        margin-bottom: 50px;
        border-radius: 30px;
        padding: 16px 16px 16px 26px;
    }
}
@media(max-width:320px){
    //header
    .heading{
        font-size: 70px;
        line-height: 30px;
        border-bottom: 5px solid $blue;
    }
    .menu-nav__link{
        margin-right: 10px;
        font-size: 10px;
    }
    .header-main__box{
        font-size: 50px;
        line-height: 30px;
    }
    .header-main__items{
        margin-bottom: 50px;
        border-radius: 20px;
        padding: 14px 14px 14px 24px;
    }
    //cfg
    .configs__bubble-big{
        width: 120px;
        height: 120px;
        top: 200px;
        right: 10px;
        img{
            margin-top: 28px;
            width: 60%;
        }
    }
    .configs__bubble-midle{
        width: 80px;
        height: 80px;
        top: 300px;
        right: 180px;
        img{
            margin-top: 18px;
            width: 60%;
        }
    }
    .configs__bubble-small{
        width: 50px;
        height: 50px;
        top: 440px;
        right: 130px;
        img{
            margin-top: 10px;
            width: 60%;
        }
    }
}