.more{
    background-color: $silver;
    background-image: url(../img/more_bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 1080px;
}
.more__inner{
    padding-top: 230px;
    text-align: center;
}
.more__heading{
    color: $silver;
}
.more__items{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}
.more__item{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    &--blue{
        border: 5px solid $blue;
        box-shadow: 0px 0px 30px 0px $blue;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            top: -5px;
            left: -5px;
            box-shadow: 0px 0px 35px 0px $blue inset;
        }
        &::after{
            content: "Servers for you’r skill";
            position: absolute;
            font-size: 30px;
            line-height: 36px;
            font-style: italic;
            font-weight: 300;
            color: $blue;
            text-shadow: 0 0 5px $blue;
            width: 180px;
            top: 277px;
            left: 25px;
        }
    }
    &--yellow{
        margin-top: 200px;
        border: 5px solid $yellow;
        box-shadow: 0px 0px 30px 0px $yellow;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            top: -5px;
            left: -5px;
            box-shadow: 0px 0px 35px 0px $yellow inset;
        }
        &::after{
            content: "Personal trainings";
            position: absolute;
            font-size: 30px;
            line-height: 36px;
            font-style: italic;
            font-weight: 300;
            color: $yellow;
            text-shadow: 0 0 5px $yellow;
            width: 180px;
            top: -125px;
            left: 30px;
        }
    }
    &--white{
        border: 5px solid #fff;
        box-shadow: 0px 0px 30px 0px #fff;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            top: -5px;
            left: -5px;
            box-shadow: 0px 0px 35px 0px #fff inset;
        }
        &::after{
            content: "EZ tactic rounds";
            position: absolute;
            font-size: 30px;
            line-height: 36px;
            font-style: italic;
            font-weight: 300;
            color: #fff;
            text-shadow: 0 0 5px #fff;
            width: 180px;
            top: 277px;
            left: 25px;
        }
    }
    &--pink{
        margin-top: 200px;
        border: 5px solid $pink;
        box-shadow: 0px 0px 30px 0px $pink;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            top: -5px;
            left: -5px;
            box-shadow: 0px 0px 35px 0px $pink inset;
        }
        &::after{
            content: "Interviews with you’r idols";
            position: absolute;
            font-size: 30px;
            line-height: 36px;
            font-style: italic;
            font-weight: 300;
            color: $pink;
            text-shadow: 0 0 5px $pink;
            width: 240px;
            top: -125px;
            left: 10px;
        }
    }
}
.more__item-link-1{
    position: absolute;
    top: 70px;
    left: 80px;
}
.more__item-link-2{
    position: absolute;
    top: 70px;
    left: 68px;
}
.more__item-link-3{
    position: absolute;
    top: 70px;
    left: 78px;
}
.more__item-link-4{
    position: absolute;
    top: 70px;
    left: 70px;
}
.more__item-img{
    transition-duration: 1s;
    &:hover{
        transform: scale(1.1);
    }
}