.news{
    min-height: 100vh;
    background-color: $gray;
}
.news__inner{
    padding-top: 90px;
}
.news__heading-wrap{
    text-align: center;
}
.news__heading{
    color: $silver;
}
.news__blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.news__list{
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    line-height: 50px;
    li{
        padding-bottom: 10px;
    }
    a{
        color: $silver;
        transition-duration: 1s;
    }
    a:hover{
        color: $blue;
        
    }
}
.news__block-right{
    
    img{
        width: 484px;
        height: 453px;
        transition-duration: 1s;
    }
    img:hover{
        transform: scale(1.2);
    }
}