
.preloader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(42, 42, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.cou{
    font-size: 130px;
    font-family: Roboto;
    font-weight: bold;
    padding: 0 6px;
}
.c{
    color: #fff;
    position: relative;
    z-index: 1;
}
.c::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 26px;
    left: -100px;
    animation-name: preloader1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 3;
}
.c::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 26px;
    left: -100px;
    animation-name: preloader2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 2;
    background-color: rgb(42, 42, 65);
}
.o{
    color: #00c0ff;
}
.u{
    color: #c7c000;
}
@keyframes preloader1{
    0%{
        transform: rotateY(0);
        left: -100px;
        background-color: #d6e1e9;
    }
    20%{
        transform: rotateY(180deg);
        left: 0px;
        background-color: #3e3e3e;
    }
    40%{
        transform: rotateY(0deg);
        left: 100px;
        background-color: #d6e1e9;
    }
    60%{
        transform: rotateY(180deg);
        left: 200px;
        background-color: #3e3e3e;
    }
    80%{
        transform: rotateY(0);
        left: 300px;
        background-color: #d6e1e9;
    }
    100%{
        left: -100px;
        background-color: #d6e1e9;
    }
}
@keyframes preloader2{
    0%{
        width: 0px;
    }
    20%{
        width: 200px;
    }
    40%{
        width: 200px;
    }
    60%{
        width: 400px;
    }
    80%{
        width: 400px;
    }
    100%{
        width: 0px;
    }
}