.tagline__first{
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 90px;
    text-align: center;

    &-element_1{
        margin-top: 90px;
        
    }
    &-element_2{
        color: $blue;
        margin-left: 135px;
    }
    &-element_3{
        color: $yellow;
        margin-right: 135px;
        margin-bottom: 10px;
    }
}
.tagline__elements{

    margin-bottom: 55px;
    display: inline-block;
    border-radius: 30px;
    padding: 25px 25px 25px 35px;
    background-color: $gray;
    letter-spacing: 10px;
}
.tagline__first-wrapper_2{
    text-align: start;
}
.tagline__first-wrapper_3{
    text-align: end;
}
.tagline__arrow{
    text-align: center;
}
.header__btn{
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animateArrow {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}