// Deafolt
@import "vars";
// @import "libs";
@import "fonts";
@import "reset";
//Blocks
@import "preloader";
@import "header";
@import "news";
@import "advantages";
@import "skins";
@import "configs";
@import "more";
@import "footer";

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.html--hiden{
    overflow: hidden;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: $roboto;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
}
a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.heading{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    border-bottom: 10px solid $blue;
    display: inline-block;
    line-height: 110px;
    letter-spacing: .1em;
}
.left {
    text-align: left;
}
.right{
    text-align: right;
}
button{
    border: none;
    outline: none;
}

@import "media";
