// Deafolt
@import "vars";
@import "libs";
@import "fonts";
@import "reset";
//Blocks
@import "header";

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: $roboto;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
}
a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}




@import "media";
