// Deafolt
@import "vars";
// @import "libs";
@import "fonts";
@import "reset";
//Blocks
@import "header";
@import "tagline";
@import "news";

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: $roboto;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
}
a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.heading{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    border-bottom: 10px solid $blue;
    display: inline-block;
    line-height: 106px;
    letter-spacing: .1em;
}


@import "media";
